{% block comments %}
    <!-- templates/films/index.html.twig
        Class Films :
            id
            titre
            synopsis
            slug
        
        Dans le fichier de BD donné il n'y avait pas de champ IMAGE,
        mais dans l'example de la page "Les Films" il y a des balises prevues pour placer des images,
        alors j'ai laissé des balises
    -->
    
{% endblock %}

<div class="row">
    
    {% for film in films %}
        
        <div class="col-md-4">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="{{ asset('build/assets/images/'~random(24,30)~'.jpg') }}" alt="{{ film.titre }}">
            </a>
        </div>
        <div class="col-md-8">
            <h3>{{ film.titre }}</h3>
            <p>{{ film.synopsis }}</p>
            <a class="btn btn-primary" href="{{ path('app_films_show', {'id': film.id, 'slug':film.slug}) }}">Voir les détails du film</a>
            <hr/>
        </div>
        
    {% endfor %}
    
</div>
