{% extends 'base.html.twig' %}

{% block title %}Films{% endblock %}

{% block content1 %}
    
    <h1 class="mt-4">{{ film.titre }}</h1>
    
    <hr>
    
    
    
    
    <!-- Project One -->
    <div class="row">
        <div class="col-md-4">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="{{ asset('build/assets/images/'~random(24,30)~'.jpg') }}" alt="">
            </a>
        </div>
        <div class="col-md-8">
            <p class="lead">{{ film.synopsis }}</p>
            <hr/>
            <h2>Créatures du film</h2>
            
            <ul>
                {% for creature in creatures %}
                    
                    <li><a href="{{ path('app_creatures_show', {'id': creature.id, 'slug': creature.slug}) }}">{{ creature.nom }}</a></li>
                
                {% endfor %}
            </ul>
        
        
        </div>
    </div>
    <!-- /.row -->
    <hr>
{% endblock %}
