{% extends 'base.html.twig' %}

{% block title %}{{ page.titre }}{% endblock %}

{% block content1 %}
    <!-- Title -->
    <h1 class="mt-4">{{ page.titre }}</h1>
    
    <hr>
    
    <!-- Post Content -->
    <p class="lead">{{ page.texte }}</p>
    
    
    
    {% if page.id == 1 or page.id == 2 %}
        
        {% if page.id == 1 %}
            
            <hr>
            <h2 class="mt-4">Dernieres créatures</h2>
            <hr>
            
        {% else %}
            
            <a class="btn btn-primary" href="{{ path('app_creatures_new') }}">Ajouter une créature</a>
            <hr>
            
        {% endif %}
        
        {{ render(controller('App\\Controller\\CreaturesController::index')) }}
    
    {% elseif page.id == 3 %}
        
        <hr>
        {{ render(controller('App\\Controller\\FilmsController::index')) }}
        
    {% endif %}


{% endblock %}
